<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>AvailableDefaultProduct\AvailableDefaultProduct</fullnamespace>
    <descriptive locale="en_US">
        <title>Changes the default product to an available one if the actual default product is out of stock</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Change le produit par défaut par un produit disponible si celui par défaut actuellement n'est plus en stock</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>2.0.0</version>
    <authors>
        <author>
            <name>Luc Normandon</name>
            <email>lucnormandon@openstudio.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.5.0</thelia>
    <stability>other</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
